<div class="card listing" id="e{{id}}" style="background-image: url('/img/{{immagine}}');">

  <div class="card-inner">
    <div id="titolo">{{titolo}}</div>
    <div id="tipo">Tipo evento: {{tipo}}</div>

    <div id="dataora"><i class="fa-solid fa-calendar-days"></i> {{dataora}}</div>
    {{#if disponibile}}
    <div id="posti"><i class="fa-solid fa-chair"></i> Posti disponibili: {{postidisponibili}}</div>
    {{/if}}

    <!-- Informazioni aggiuntive -->
    <div id="luogo"><i class="fa-solid fa-map-location-dot"></i> {{luogo}}</div>
    <div id="organizzatore"><i class="fa-solid fa-user-tag"></i> {{organizzatore}}</div>

    <hr class="my-1">
    <p id="desc">{{descrizione}}</p>
    
    <!-- Messaggio di errore -->
    <div class="mt-2 text-danger" id="message"></div>

    <!-- Pulsanti -->
    <div class="buttons-par">
      {{#if disponibile}}
        {{#if prenotato}}
        <button class="btn btn-prenotato" disabled>Prenotato</button>
        {{else}}
        <button id="prenota" class="btn btn-prenota" onclick="prenota({{id}})">Prenota</button>
        {{/if}}
      {{/if}}
    </div>
  </div>

</div>